<header layout:fragment="header">
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">AQRyuz</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <div sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/logout}">Sign out</a>
                </div>
                <div sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/login}">Sign in</a>
                </div>
            </li>
        </ul>
    </nav>
</header>