body {
  font-family: "Lato", sans-serif;
}

/*==================================================================================SLIDE NAV=============================================================================*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.4s;
}

.sidenav a {
    padding: 14px 8px 14px 32px;
    text-decoration: none;
    font-size: 24px;
    color: #ffffff; /*818181*/
    display: block;
    transition: 0.25s;
}

.sidenav a:hover {
    color: #fff;
    background: #30b525;
    text-decoration: none;
}
.sidenav ul, .sidenav ul li{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.sidenav .closebtn {
/*
  position: absolute;
*/
    padding: 20px 8px 0px 22px;
    font-size: 24px;
}
.sidenav .closebtn:hover{
    background: none;
}
.sidenav .closebtn img { /*logo*/
    width: 36px;
    height: 36px;
}
.sidenav hr{
    height: 0.5px;
    background: #8fb58b;
    padding-left: 0 !important;
}

#account-myMain {
  transition: margin-left .4s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media only screen and (max-width: 991px) {
  #addAccountModal #addAccountForm .leftside {float:none !important;}
}

/*==================================================================================TABLE=============================================================================*/
.panel-table .panel-body{
  padding:0;
}
.table-responsive {height:100%;}

.panel-table .panel-body .table-bordered{
  border-style: none;
  margin:0;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
    text-align:center;
    width: 100px;
}
.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
  border-right: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
  border-left: 0px;
}

.panel-table .panel-body .table-bordered > tbody > tr > td{
    text-align: center;
  border-bottom: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th{
  border-top: 0px;
}

.panel-table .panel-footer .pagination{
  margin:0; 
}

/*
used to vertically center elements, may need modification if you're not using default sizes.
*/
.panel-table .panel-footer .col{
 line-height: 34px;
 height: 34px;
}

.panel-table .panel-heading{
    color: #333;
    background-color: #f5f5f5;
    border: solid 1px #ddd;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.panel-table .panel-heading .col h4{
    line-height: 30px;
    height: 30px;
    font-weight: 499;
}

.panel-table .panel-body .table-bordered > tbody > tr > td{
  line-height: 34px;
}
.btn-common{
    display: inline-block;
    padding: 4px 8px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-danger {
    color: #fff !important;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
table thead tr th{
    text-align: center;
}

div.pager {
/*    padding: 0px 16px 12px 0px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;*/
    text-align: right !important;
}
div.pager span {
    display: inline-block;
    width: 32px;
    height: 38px;
    text-align: center;
    cursor: pointer;
    background: #f2f2f2;
    color: #000;
    margin-top: 15px;
	font-size: 16px;
	margin-right: 0px;
	font-weight: normal;
	border: 1px solid #d9d9d9;
	float:left;
	padding-top:5px;
}
div.pager span.active {
    background: #d9d9d9;
    color: #4d88ff;
}
div.pager span:hover {
    background: #d9d9d9;
    color: #4d88ff;
}

/*=====================================================================Add acount modal ===========================================================================*/
/*devide modal -> 2 column*/
#addAccountModal .modal-title {
    padding-left: 2%;
}
.leftside{ 
    float: left;
    width: 50%;
}
/*form*/
#addAccountModal #addAccountForm fieldset {
    padding: 0 16px 0px 32px;
    background-color: #fff;
    display: inline-block;
    color: #343536;
    line-height: 27px;
    width: 100%;
}
#addAccountModal fieldset {
    padding-bottom: 16px;
}
#addAccountModal #addAccountForm fieldset input[type="text"], 
#addAccountModal #addAccountForm fieldset input[type="password"] {
    min-width: 280px;
    color: #5a6265;
    padding: 4px 5px;
    margin-bottom: 10px;
    border: 1px solid #dad8d8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#addAccountModal .modal-footer{
    padding-right: 3%;
}
#addAccountModal .btn-primary {
    float: left;
    padding-right: 24px;
    padding-left: 24px;
    margin-right: 16px;
}
#addAccountModal .lbl_time {
    margin: 14px 14px 15px 0px;

}
#addAccountModal .input_time {
    border: 1px solid #dad8d8;
    padding: 3px 5px;
    margin-top: 4px;
    margin-bottom: 8px;
    width: 48.5%;
    min-width: 160px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#addAccountModal .sex {
    margin-top: 12px;
}
#addAccountModal .level {
    margin-top: 10px;
}
#addAccountModal .lbl_level1{
    margin-right: 10%;
}
#addAccountModal .lbl_level2{
    margin-right: 8.52%;
}
#addAccountModal .sex-female {
    margin-left: 5.0%;
}
#addAccountModal .level-admin {
    margin-left: 2%;
}
form .error{ /*show validation*/
    color: red;
    font-size: 14px;
}