<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Login</title>

        <!-- Meta tag Keywords -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <!--
            <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
            function hideURLbar(){ window.scrollTo(0,1); } </script>
            -->
            <!-- Meta tag Keywords -->

            <!-- css files -->
            <link th:href="@{/css/login.css}" rel="stylesheet" />
            <!-- css files -->

            <!-- Online-fonts -->
            <!--<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet">-->
            <!-- //Online-fonts -->
    </head>
    <body>
        <!-- main -->
        <div class="main">
            <div class="main-w3l">
                <h1 class="logo-w3">KAISHA VN CO.LTD</h1>
                <div class="w3layouts-main">
                    <h2><span>Login now</span></h2>
                    <div class="social">
                        <a href="#">Login With Facebook</a>
                    </div>
                    <h3>(or)</h3>
                    <form th:action="@{/check-login}" method="post">
                        <input placeholder="Username or Email" name="email" type="email" required="" />
                        <input placeholder="Password" name="passWord" type="password" required="" />
                        <input type="submit" name="login" />
                    </form>
                    <h6><a href="#">Lost Your Password?</a></h6>
                </div>
                <!-- //main -->

                <!--footer-->
                <div class="footer-w3l">
                    <p>&copy; 2019 Login Form. All rights reserved | Design by <a href="http://w3layouts.com">Kaisha VN Co. Ltd</a></p>
                </div>
                <!--//footer-->
            </div>
        </div>

    </body>
</html>
